.info {
  max-width: 1280px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 0 100px;
}

@media screen and (max-width: 678px) {
  .info {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024) {
  .info {
    max-width: 80%;
  }
}

@media screen and (max-width: 1280) {
  .info {
    max-width: 50%;
  }
}
