.info {
  width: 768px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
}

@media screen and (max-width: 678px) {
  .info {
    max-width: 80%;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1024) {
  .info {
    max-width: 80%;
  }
}

@media screen and (max-width: 1280) {
  .info {
    max-width: 50%;
  }
}
